# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Logs
*.log

# PyInstaller
*.spec

# Local data
trajectories/
